.radius-banner {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* Para dispisitivos menores a 720px de ancho*/
@media (max-width: 720px) {
    .radius-banner{
        border-radius: 0px;
        width: 100%;
        margin: 0;
        left: 0;
        right: 0;
    }
}

.dest-btn {
    border: #ff3d19 solid 2px;
    color: #ff3d19;
    padding: 9px 15px;
}

.dest-btn:hover {
    border: #1b0088 solid 2px;
    background-color: #1b0088;
    color: white;
}